{% extends 'base.html' %}
{% macro changing_password(change_data, current_errors)%}
{% block content %}
<h1 class='mb-3'>Смена пароля</h1>
<form method="POST">
    <div class="mb-3">
        <label for="InputPassword" class="form-label">Старый пароль</label>
        <input type="password" name='old_password'  class="form-control {% if current_errors['error_old_password_none'] %}is-invalid{% endif %}" id="InputOldPassword" value={{ change_data['Old_pass'] or ''}}>
        {% if current_errors['error_old_password_none'] %}<div class="invalid-feedback">{{ current_errors['error_old_password_none']}}</div>{% endif %}
    </div>
    <div class="mb-3">
        <label for="InputPassword" class="form-label">Новый пароль</label>
        <input type="password" name='new_password'  class="form-control {% if current_errors['error_new_password_none'] or current_errors['error_password_1'] or current_errors['error_password_2'] or current_errors['error_password_3'] or current_errors['error_password_4'] or current_errors['error_password_5'] %}is-invalid{% endif %}" id="InputPassword" value={{ change_data['new_pass'] or ''}}>
        {% if current_errors['error_new_password_none'] %}<div class="invalid-feedback">{{ current_errors['error_new_password_none']}}</div>{% endif %}
        {% if current_errors['error_password_1'] %}<div class="invalid-feedback">{{ current_errors['error_password_1']}}</div>{% endif %}
        {% if current_errors['error_password_2'] %}<div class="invalid-feedback">{{ current_errors['error_password_2']}}</div>{% endif %}
        {% if current_errors['error_password_3'] %}<div class="invalid-feedback">{{ current_errors['error_password_3']}}</div>{% endif %}
        {% if current_errors['error_password_4'] %}<div class="invalid-feedback">{{ current_errors['error_password_4']}}</div>{% endif %}
        {% if current_errors['error_password_5'] %}<div class="invalid-feedback">{{ current_errors['error_password_5']}}</div>{% endif %}
    </div>
    <div class="mb-3">
        <label for="InputPassword" class="form-label">Повтор пароля</label>
        <input type="password" name='password'  class="form-control {% if current_errors['error_password_none'] or current_errors['error_password'] %}is-invalid{% endif %}" id="InputNewPassword" value={{ change_data['new_pass_2'] or ''}}>
        {% if current_errors['error_password_none'] %}<div class="invalid-feedback">{{ current_errors['error_password_none']}}</div>{% endif %}
        {% if current_errors['error_password'] %}<div class="invalid-feedback">{{ current_errors['error_password']}}</div>{% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% endblock %}
{% endmacro %}