{%extends 'base.html'%}
{%block content%}
<form method="POST">
    <div class="mb-3">
        <label for="InputPassword" class="form-label">Текущий пароль</label>
        <input type="password" name='password'  class="form-control" id="InputPassword"  value="{{ request.form.get('password', '') }}" required>
    </div>
    <div class="mb-3">
        <label for="InputPassword" class="form-label">Новый пароль</label>
        <input type="password" name='password2'  class="form-control" id="InputPassword2"  value="{{ request.form.get('password2', '') }}" required>
    </div>
    <div class="mb-3">
        <label for="InputPassword" class="form-label">Повторите новый пароль</label>
        <input type="password" name='password3'  class="form-control" id="InputPassword3"  value="{{request.form.get('password3', '')}}" required>
    </div>

    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{%endblock%}
