html {
    height: 100%;
}
body {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

.avatar {
    max-width: 100%;
}

main {
    
    flex-grow: 1;
}
.but_com {
    width: 150px;
    background-color: rgb(83, 83, 255);
    border: none;
    border-radius: 5px;
    color: white;
    margin: 5px;
}

.inp_com {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0;
}
.label_inp_com {
    background: #9b9b9b;
    width: 100%;
}
